<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('index')}}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="News" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ailment
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('malaria')}}">Malaria</a>
          <a class="dropdown-item" href="{{url_for('ebola')}}">Ebola</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{url_for('covid19')}}">Covid19</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('chart')}}">chart</a>
      </li> 

      <li class="nav-item">
        <a class="nav-link" href="{{url_for('record')}}">Medical Record</a>
      </li> 

      <li class="nav-item">
        <a class="nav-link" href="{{url_for('med')}}">Medical Form</a>
      </li> 

    </ul>
    
    
    <form class="form-inline my-2 my-lg-0">
      
      <ul class="navbar-nav mr-auto">
    
        
          {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('signup')}}">Sign up</a>
        </li>  
      
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('user_login')}}">users login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('login_practitioner')}}">practitioners login <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
          </ul>
        
    </form>
  </div>
</nav>